.info-row{
    width: 100%;
    margin-bottom: 30px;
    height: 500px;
    display: flex;
    justify-content: space-between;

    h1{
        margin-bottom: 30px;
    }

    .row-object{
        background: $White;
        border-radius: 10px;
        width: 32%;
    }

}