.key-info{
    background: $White;
    margin-top: 30px;
    border-radius: 10px;
    padding: 30px;
    
    .main-figures{
        display: flex;
        justify-content: space-between;
        background: $White;

        .figure{
            flex-direction: row;
            text-align: center;
            padding: 5%;
        }
    }
}