@import 'vars';
@import 'header';
@import 'key-info';
@import 'secondary-info';

html, body {
    margin : 0;
    padding: 0;
    background: $Grey;
}

h1, h2, h3, h4, p, ul, li, tspan{
    margin:0;
    padding: 0;
    font-family: Gotham, Arial, sans-serif;
    color: $Black
}

h1, h2 {
    font-weight: 700;
}

h3, h4 {
    font-weight: 600;
}

p, li {

    font-weight: 300;
    font-size: 1em;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}