$Yellow: #FFD100;
$Blue: #44BFEF;
$Black: #2A2A2A;
$White: #FFFFFF;
$Grey: #f0f0f7;



@font-face{
    font-family: Gotham;
    src: url("../assets/fonts/gotham-book-webfont.woff");
}

@font-face{
    font-family: Gotham;
    src: url("../assets/fonts/gotham-medium-webfont.woff");
    font-weight: 600;
}

@font-face{
    font-family: Gotham;
    src: url("../assets/fonts/gotham-bold-webfont.woff");
    font-weight: 700;
}